.boton-contenedor {
    height: 83px;
    display: flex;
    /*indica cuanto se puede expandir o encoger un componente en relacion a los otros componentes*/
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color: #1b1b32;
    color: white;
    border-radius: 25px;
    border: 2px solid white;
    margin: 4px;
    /*el cursor se convierte en una mano*/
    cursor: pointer;
    /*permite que el texto del botón no se pueda seleccionar*/
    user-select: none;
}
.boton-contenedor:hover {
    background-color: #5a01a7;
}

.operador {
    background-color: #00471b;
}
.operador:hover {
    background-color: #ff6600;
}