.empresasofia-logo-contenedor {
    width: 100%;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .empresasofia-logo {
    width: 350px;
    height: 50px;
  
  }